

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}
.nav-logo{
    font-size: 34px;
    font-weight: bold;
    color: #4E47FF;
}

/* shared style */
.btn-primary{
    background-color: #4E47FF;
    color:white;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.bg-secondery{
     background-color:aliceblue;
}
.text-color{
     color:#9491b9;
}

/* banner section */
.banner{
    text-align: center;
    margin: 309px 267px;
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
}
.button{
    margin-top: 35px;
    margin-bottom: 200px;
    /* padding: 12px 36px; */
}

header{
    background-image: url('../Assets/Hero-bg.png');
}

/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}

.action{
    display: flex;
    justify-content: space-between;
}
.action-item{
    margin-right: 220px;
}

.img{
    border-radius: 20px;;
}
.action-tittle{
    font-weight: bold;
    font-size: 42px;
    color:#252432
}
.action-subtitle{
    font-size: 24px;
    color:#9491b9;
    margin-top: 32px;
    margin-bottom: 32px;

}
 /* Users Section  */
 .user{
    background-color: #cdccf4;
    border-radius: 15px;
    margin-top: 116px;
 }

.user-title{
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    padding: 50px 142px 40px 142px;

   
}

.users{
    display: flex;
    justify-content: space-around;
}
.numbers{
    font-weight: bold;
    font-size: 50px;
    color:#4E47FF;
    
}
.users-subtitle{
    font-size: 20px;
    color:#9491b9;
    padding-bottom: 15px;
    

}

/* Users Observation */
.Thoughts{
    text-align: center;
    margin-top: 132px;
    font-size: 42px;
    font-weight: bold;

}
.container{
   
    margin-top:99px;
    border-radius: 10px;
    padding: 20px;
    
}
.users-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}


.star{
  width: 100px; 
  height: 20px;
  background-image: url('../Assets/icon-star.png');
  background-repeat: repeat-x;
  background-size: 20px 20px;
}

.picture{
    display: flex;
}
.description{
    font-weight: 600;
      color:#9491b9;
      

}

/* Focus Section */
.focus{
    margin-top: 142px;
    text-align: center;
}
.focus-title{
    font-weight: bold;
    font-size: 30px;
    padding-top: 71px ;
    
}

.focus-img{
    border-radius: 48px;
    margin-top: 30px;
    
}

